# Enable URL rewriting
RewriteEngine On

# Set the base directory
RewriteBase /weathery/php/

# If the request is for an actual file or directory, skip the rewriting rules
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite rule for the main pages
RewriteRule ^trangchu/?$ index.php?page=trangchu [L,QSA]
RewriteRule ^dubao/?$ index.php?page=dubao [L,QSA]
RewriteRule ^thanhpho/?$ index.php?page=thanhpho [L,QSA]
RewriteRule ^thongbao/?$ index.php?page=thongbao [L,QSA]

# Rewrite rule for Google login
RewriteRule ^login_with_google/?$ login_with_google.php [L,QSA]
RewriteRule ^google_oauth_callback/?$ google_oauth_callback.php [L,QSA]

# Rewrite all other URLs to index.php
RewriteRule ^ index.php [L,QSA]